<% for(var i = 0; i < notes.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= notes[i].title %></td>
    <td><%= notes[i].description %></td>
    <td>
        <a href="/update-note?id=<%= notes[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= notes[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>